.textarea{
    resize: none;
    width:
}
.js-container{
    position: fixed;
    top: 60%;
    left: 0%;
    background-color: #292929;
    width: 20%;
    height: 35%;
    margin-left: 8.1%;
    padding-top: 1.5%;
    border-radius: 2%;
}